{% extends 'tasks/base.html' %}
{% block content %}
<div class="card shadow p-3">
    <h3>Yangi vazifa qo‘shish</h3>
    <form method="POST">
        {% csrf_token %}
        <div class="input-group">
            <input type="text" name="title" class="form-control" placeholder="Vazifa nomi..." required>
            <button type="submit" class="btn btn-success">Qo‘shish</button>
        </div>
    </form>
</div>
<div class="mt-3">
    <a href="{% url 'task_list' %}" class="btn btn-secondary">⬅️ Orqaga</a>
</div>
{% endblock %}
